h1{
    text-align: center;
}
.btn-new{
    cursor: pointer;
    &:hover{
        transform: scale(115%);
        transition: transform 0.3s;
    }
}
@media (max-width: 600px){
    .all-contacts{
        display: none;
    }
    .btn-new{
        position: fixed;
        right: 30px;
        bottom: 30px;
    }
}