<section>
    <div class="title">
        <h3>Statistics &nbsp;&nbsp;</h3>
        <img src="./assets/icons/increase.png" alt="increase">
    </div>
    <div *ngIf="rates.length > 0; else nodata" >
        <ngx-charts-bar-vertical 
        [view]="view" 
        [scheme]="colorScheme" 
        [results]="rates" 
        [gradient]="gradient"
        [xAxis]="showXAxis" 
        [yAxis]="showYAxis" 
        [legend]="showLegend" 
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" 
        [xAxisLabel]="xAxisLabel" 
        [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
    </div>
    <ng-template #nodata>
        <h3>Error, Cannot fetch data</h3>
    </ng-template>
</section>