.home-page {
    .main-info {
        display: flex;
        justify-content: space-between;
        margin-block-start: 5rem;
        flex-wrap: wrap;
        min-height: 60vh;
        .side-l {
            flex-basis: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .background-img {
                margin-block-start: 1rem;
                z-index: -1;
                width: 500px;
            }

            .title {
                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1.2rem;
                    margin-block-start: 0.5rem;

                    span {
                        padding: 0.5rem;
                        color: white;
                        background-color: #f5d020;
                        background-image: linear-gradient(315deg, #f53803 0%, #f5d020 74%);
                        border-radius: 10px;
                        font-size: 15px;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }

            .card {
                width: 350px;
                height: 200px;
                border-radius: 15px;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(5, 1fr);
                background-color: #f5d020;
                background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
                .username{
                    grid-column: 1 / 3;
                    align-self: end;
                    justify-self: center;
                }
                button{
                    grid-column: 5;
                    grid-row: 5;
                    background: transparent;
                    border: 0;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                img[alt~="chip"]{
                    width: 35px;
                    height: auto;
                    grid-row: 3;
                    grid-column: 1;
                    justify-self: end;
                }
                .user-balance {
                    display: flex;
                    align-items: center;
                    grid-row: 3;
                    grid-column: 4 / 6;
                    justify-self: center;

                    h3 {
                        span{
                            color: green;
                        }
                    }
                }
            }
        }

        .side-r {
            flex-basis: 40%;
            display: flex;
            flex-direction: column;
            .table-heading{
                display: flex;
                align-items: center;
                justify-content: center;
                .img-container{
                    max-width: 35px;
                    img{
                        width: 100%;
                        height: auto;
                        animation: spin 4s linear infinite;
                    }
                    h1{
                        font-size: 0.9rem;
                    }
                }
            }
            
            img[alt~="background2"]{
                position: absolute;
                top: 30%;
                left: 25%;
                z-index: -1;
            }

            table {
                width: 100%;
                height: 70%;
                thead {
                    width: 100%;
                    th{
                        select {
                            float: left;
                            background-color: #f53803;
                            border-top: 0;
                            border-left: 0;
                            border-right: 0;
                            border-bottom: 3px solid #f5d020;
                            color: white;
                            width: 50px;
                        }
                        span{
                            float: right;
                            font-size: 0.7rem;
                        }
                    }
                }

                tbody {
                    tr {
                        background-color: #f5d020;
                        background-image: linear-gradient(315deg, #f53803 0%, #f5d020 85%);
                        padding: 0;
                        td {
                            width: 50%;
                            height: 25%;
                            color: white;
                            font-size: 1rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .transactions{
        h3{
            text-align: center;
        }
        padding: 3rem;
    }
}

@media (max-width: 600px) {
    .home-page {
        .main-info {
            padding: 0 0.5rem;
            flex-direction: column;
            min-height: 30vh;
            .side-l {
                flex-basis: 100%;

                .title {
                    h1 {
                        font-size: 2rem;
                    }
                    p {
                        margin-block-start: 0.5rem;
                        font-size: 0.8rem;  
                        line-height: 2.5; 
                        span {
                            font-size: 0.8rem;
                        }
                    }
                    .background-img{
                        top: 60%;
                        width: 300px;
                    }
                }
                
                .card {
                    width: 100%;
                    height: 170px;
                }
            }

            .side-r {
                height: 200px;
                flex-basis: 100%;
                margin-block-start: 1rem;
            }
        }
    }

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}