<section class="home-page">
    <div class="main-info">
        <div class="side-l">
            <div class="title" *ngIf="!loggedInUser; else userCard">
                <h1>Welcome to <br> Mr bitcoin</h1>
                <p>Where You can exchange bitcoin fast and easily</p>
                <p><span routerLink="/login">Log in</span> or <span routerLink="/login">Sign up</span> and start exchange Bitcoin for free!</p>
                <img class="background-img" src="./assets/background1.png" alt="background">
            </div>
            <ng-template #userCard>
                <div class="card">
                    <h3 class="username">{{loggedInUser.fullName}}</h3>
                    <img src="./assets/icons/chip.png" alt="chip">
                    <div class="user-balance">
                        <h3>BTC: <span>{{loggedInUser.balance}}</span></h3>
                    </div>
                    <button (click)="onLogout()">Log out</button>
                </div>
            </ng-template>
        </div>
        <div class="side-r">
            <div class="table-heading">
                <div class="img-container">
                    <img src="./assets/icons/bitcoin.png" alt="BitCoin" />
                </div>
                <h1>BTC Rate</h1>
                <div class="img-container">
                    <img src="./assets/icons/bitcoin.png" alt="BitCoin" />
                </div>
            </div>
            <img src="./assets/background2.png" alt="background2" *ngIf="loggedInUser;">
            <table>
                <thead>
                    <th>
                        <select name="currency" id="currency" [ngModel]="currency" (ngModelChange)="getCurrencyRate($event)">
                            <option *ngFor="let currency of ratesKey" [ngValue]="currency">{{currency}}</option>
                        </select>
                    </th>
                    <th>
                        <span>Last updated: today</span>
                    </th>
                </thead>
                <tbody *ngIf="rate">
                    <tr>
                        <td>15 minutes</td>
                        <td>{{rate['15m'] | currency:currency}}</td>
                    </tr>
                    <tr>
                        <td>Buy</td>
                        <td>{{rate.buy | currency:currency}}</td>
                    </tr>
                    <tr>
                        <td>Last</td>
                        <td>{{rate.last | currency:currency}}</td>
                    </tr>
                    <tr>
                        <td>Sell</td>
                        <td>{{rate.sell | currency:currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="transactions" *ngIf="this.loggedInUser">
        <h3>Your latest transactions</h3>
        <transaction-list></transaction-list>
    </div>
</section>
