<section class="contact-edit">
    <h3>Contact edit</h3>
    <form (ngSubmit)="onSaveContact()" *ngIf="contact">
        <div class="input-label">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" [(ngModel)]="contact.name">
        </div>
        <div class="input-label">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="contact.email">
        </div>
        <div class="input-label">
            <label for="phone">Phone</label>
            <input type="text" id="phone" name="phone" [(ngModel)]="contact.phone">
        </div>
        <button>Save</button>
    </form>
</section>