<section class="contact-details">
    <div class="title">
        <h1>Contact details</h1>
        <img src="./assets/icons/contact.png" alt="Contact">
    </div>
    <img src="./assets/icons/back.png" alt="Go back" (click)="onGoBack()" class="btn-back">
    <article class="contact-main-info">
        <div class="side-l">
            <img src='{{"https://avatars.dicebear.com/api/avataaars/" +contact.name +".svg"}}' alt="Contact Profile Pic">
        </div>
        <div class="side-r">
            <p><span>Id</span>: {{contact._id}}</p>
            <p><span>Fullname</span>: {{contact.name}}</p>
            <p><span>Email address</span>: {{contact.email}}</p>
            <p><span>Phone number</span>: {{contact.phone}}</p>
            <div class="transfer">
                <h5>Transfer Bitcoin</h5>
                    <form [formGroup]="transferForm">
                        <input type="number" placeholder="amount" min="1" [max]="loggedInUser.balance" required formControlName="amount">
                        <button (click)="sendTransaction()">Send</button>
                    </form>
                </div>
        </div>
    </article>
    <section class="transactions-list">
        <h1>Your Transactions</h1>
        <transaction-list [contactId]="contact._id"></transaction-list>
    </section>
</section>