<div class="contact-preview" [routerLink]="['/contact', contact._id]">
    <img src='{{"https://avatars.dicebear.com/api/avataaars/" +contact.name +".svg"}}' alt="Contact Profile Pic">
    <div class="info">
        <h5>{{contact.name}}</h5>
        <p>{{contact.email}}</p>
        <p>{{contact.phone}}</p>
        <img src="./assets/icons for misterBitcoin/delete.png" alt="delete" (click)="onRemoveContact()">
        <img src="./assets/icons for misterBitcoin/edit.png" alt="edit" [routerLink]="['/contact/edit', contact._id]">
    </div>
</div>