ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    gap: 15px;
    margin: 3rem 0;
    li{
        background-color: lightblue;
        padding: 1rem 1rem 0 0.5rem;
        box-shadow: 1px 1px 0 1px steelblue;
        border-radius: 5px;
    }
}
@media (max-width: 480px) {
    ul{
        li{
            font-size: 0.8rem;
        }
    }
}